<!-- src/main/resources/templates/profile.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile - Online Bus Booking System</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Common Header styling */
        .header {
            background-color: #007bff;
            color: white;
            padding: 15px;
            text-align: center;
            font-size: 1.5em;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1100;
        }
    </style>
</head>
<body>
<div class="header">
    Online Bus Booking System
</div>
<br>
<div class="container mt-5">
    <h2>User Profile</h2>
    <div>
        <p><strong>Name:</strong> <span th:text="${user.name}"></span></p>
        <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    </div>
    <a th:href="@{/profile/edit}" class="btn btn-primary">Edit Profile</a>
<!--    <a th:href="@{/profile/payment}" class="btn btn-secondary">Manage Payment Methods</a>-->
    <hr/>
    <a th:href="@{/dashboard}" class="btn btn-secondary mt-3">Back to Dashboard</a>
</div>
</body>
</html>